.cover__link {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    text-decoration: none;
    color: #ffffff;
}