.place__title {
    /*width: 460px;*/
    width: calc((100% - 40px) / 2);
    margin: 0;
    padding: 0;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    text-align: left;
    line-height: 1.06;
}

@media screen and (max-width: 1024px){
    .place__title {
        /*width: 440px;*/
        width: calc((100% - 32px) / 2);
    }
}

@media screen and (max-width: 768px){
    .place__title {
        /*width: 44%;*/
        width: calc((100% - 28px) / 2);
        font-size: 42px;
        line-height: 1.1;
    }
}

@media screen and (max-width: 425px){
    .place__title {
        width: 90%;
        font-size: 32px;
        line-height: 1.09;
        margin: 0 auto 32px 16px;
    }
}