.place__title {
    width: 460px;
    margin: 0;
    padding: 0;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    text-align: left;
    line-height: 1.06;
}

@media screen and (max-width: 1024px){
    .place__title {
        width: 43%;
    }
}

@media screen and (max-width: 768px){
    .place__title {
        width: 44%;
        font-size: 42px;
        line-height: 1.1;
    }
}

@media screen and (max-width: 425px){
    .place__title {
        width: 90%;
        font-size: 32px;
        line-height: 1.09;
        margin: 0 auto 32px auto;
    }
}