.place {
    width: 100%;
    margin-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.place:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 768px){
    .place {
        margin-bottom: 73px;
    }
}

@media screen and (max-width: 425px){
    .place {
        /*flex-direction: column;*/
        margin-bottom: 50px;
    }
}
