.cover__subtitle {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.22;
    text-align: center;
    width: 360px;
    position: absolute;
    bottom: 245px;
    left: 35%;
    z-index: 2;
    color: white;
}

@media screen and (max-width: 1024px) {
    .cover__subtitle {
        bottom: 195px;
        left: 332px;
    }
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        bottom: 24%;
        left: 26%;
    }
}

@media screen and (max-width: 679px) {
    .cover__subtitle {
        left: 16%;
    }
}

@media screen and (max-width: 425px) {
    .cover__subtitle {
        width: 90%;
        bottom: 16%;
        left: 5%;
        font-size: 14px;
        line-height: 1.14;
    }
}