.header {
    height: 52px;
    width: 92%;
    margin: 0 auto;
    position: relative;
    padding-top: 28px;
    align-items: center;
}

@media screen and (max-width: 425px){
    .header {
        height: 42px;
        padding-top: 16px;
    }
}