.header {
    width: 92%;
    margin: 0 auto;
    position: relative;
    padding-top: 28px;
    align-items: center;
}

@media screen and (max-width: 425px){
    .header {
        padding-top: 16px;
    }
}