.lead__title {
    width: 720px;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto 32px auto;
    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    line-height: 100px;
}

@media screen and (max-width: 425px) {
    .lead__title {
        width: 288px;
        font-size: 40px;
        line-height: 44px;
        margin: 0 auto 16px auto;
    }
}