.lead__title {
    height: 200px;
    width: 720px;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto 32px auto;
    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    line-height: 100px;
}