.lead__image {
    width: 100%;
    object-fit: contain;
    margin: 0 auto;
    padding: 0;
}

@media screen and (max-width: 425px){
    .lead__image {
        height: 49%;
        margin: 0;
        object-fit: cover;
    }
}