.cover {
    max-width: 1184px;
    /*height: 100vh;*/
    margin: 0 auto;
    padding: 0;
    position: relative;
    z-index: 1;
    background-image: linear-gradient(rgba(42, 44, 47, 0.3), rgba(42, 44, 47, 0.3)), url("../../images/cover-trains.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.cover:hover {
    /*opacity: 0.8;*/
    background-image: linear-gradient(rgba(42, 44, 47, 0.8), rgba(42, 44, 47, 0.8)), url("../../images/cover-trains.jpg");
}

@media screen and (max-width: 1024px) {
    .cover {
        width: 100%;
    }
}