.cover__title {
    width: 47%;
    z-index: 2;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 1.06;
    text-align: center;
    margin: calc(100%/5) auto 0 auto;
    color: white;
    text-decoration: none;
    padding: 0;
}

@media screen and (max-width: 1024px) {
    .cover__title {
        width: 560px;
    }
}

@media screen and (max-width: 679px) {
    .cover__title {
        width: 73%;
        font-size: 50px;
    }
}

@media screen and (max-width: 425px) {
    .cover__title {
        width: 90%;
        font-size: 32px;
        line-height: 1.09;
    }
}