.place {
    width: 100%;
    margin-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-between;
}

.place:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 768px){
    .place {
        margin: 0 0 73px 0;
    }
}

@media screen and (max-width: 425px){
    .place {
        margin-bottom: 50px;
    }
}
