.footer {
    padding: 92px 0 24px 0;
    margin: 0 auto;
    width: 93%;
    display: flex;
}

@media screen and (max-width: 1024px) {
    .footer {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        width: 94%;
        padding-top: 88px;
    }
}

@media screen and (max-width: 670px) {
    .footer {
        width: 44%;
        padding: 64px 0 24px 16px;
        flex-direction: column;
        margin: 0;
        justify-content: space-between;
    }
}