.place__website {
    /*width: 456px;*/
    width: calc((100% - 40px) / 2);
    margin: 0 auto 0 40px;
    padding: 0;
    align-self: flex-end;
}

@media screen and (max-width: 1024px){
    .place__website {
        /*width: fit-content;*/
        width: calc((100% - 32px) / 2);
        margin-left: 32px;
    }
}

@media screen and (max-width: 768px){
    .place__website {
        /*width: 45%;*/
        width: calc((100% - 28px) / 2);
        margin-left: 28px;
    }
}

@media screen and (max-width: 460px){
    .place__website {
        width: 90%;
        margin: 0 auto;
    }
}