.place__website-url-heading {
    width: 100%;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.2em;
    text-align: left;
    color:#AAAAAA;
    padding: 0;
    margin: 0 0 12px 0;
}

@media screen and (max-width: 768px){
    .place__website-url-heading {
        line-height: 1;
    }
}